<% @page_title="Edit Admin User"%>
<%= link_to("Back to Menu",admin_path,:class=>'back-link') %>
<div class="admin_users edit">
  <h2>Update Admin User</h2>
  <%= form_for(@admin_user,:url=>admin_user_path(@admin_user),:method=>'patch') do |f| %>

    <%= render(:partial=>'form',:locals=>{:f=>f})%>

  <div class="form buttons">
    <%= f.submit("Update Admin User")%>
  </div>
  <% end %>
</div>
